.homeJumbotron {
    border-radius: 0 !important;
    background-image: url("https://via.placeholder.com/1600x800.png?text=CHANGE+THIS+WITH+A+IMAGE+OF+1600+X+800");
    background-size: 100% 100%;
    color: white !important;
    text-align: center;
}
