.newsArticleImagesRow {
    margin-bottom: 40px;
    text-align: center;
}

.newsArticleHeaderRow {
    text-align: center;
    font-weight: bold;
    color: red;
}

.newsArticleButtonRow {
    text-align: center;
}